[submodule "vendor/bundles/Knp/Bundle/MenuBundle"]
	path = vendor/bundles/Knp/Bundle/MenuBundle
	url = https://github.com/KnpLabs/KnpMenuBundle.git
[submodule "vendor/KnpMenu"]
	path = vendor/KnpMenu
	url = https://github.com/KnpLabs/KnpMenu.git
