/* 
    Document   : styles
    Created on : 30 mars 2012, 22:18:15
    Author     : edrichard
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'PreludeFLFMediumItalic';
    src: url('preludeflf-italic-webfont.eot');
    src: url('preludeflf-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('preludeflf-italic-webfont.woff') format('woff'),
         url('preludeflf-italic-webfont.ttf') format('truetype'),
         url('preludeflf-italic-webfont.svg#PreludeFLFMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PreludeFLFBold';
    src: url('preludeflf-bold-webfont.eot');
    src: url('preludeflf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('preludeflf-bold-webfont.woff') format('woff'),
         url('preludeflf-bold-webfont.ttf') format('truetype'),
         url('preludeflf-bold-webfont.svg#PreludeFLFBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PreludeFLFRegular';
    src: url('preludeflf-webfont.eot');
    src: url('preludeflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('preludeflf-webfont.woff') format('woff'),
         url('preludeflf-webfont.ttf') format('truetype'),
         url('preludeflf-webfont.svg#PreludeFLFRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PreludeFLFBoldItalic';
    src: url('preludeflf-bolditalic-webfont.eot');
    src: url('preludeflf-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('preludeflf-bolditalic-webfont.woff') format('woff'),
         url('preludeflf-bolditalic-webfont.ttf') format('truetype'),
         url('preludeflf-bolditalic-webfont.svg#PreludeFLFBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

a, a:link, a:visited, a:focus, a:active{
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #F2462E;
}

/* ------------------------------------------------------------------------------------------- */

html, body {
    width: 1024px;
    margin: 0 auto;
}

.current {
    background-color: #222;
}

#wrapper {
    clear: both;
    padding-top: 5px;
}

h1 {
    font-family: "PreludeFLFBoldItalic", Arial,Helvetica,sans-serif !important;
}

.records_list tbody tr:hover {
    background: yellow;
}

.even {
  background: #DADADA;  
}

.odd {
   background: #fff; 
}

form div label{
    float: left;
    width: 150px;
    padding-top: 6px;
}

form div ul {
    list-style: none;
    width: 595px;
    padding: 0px;
    margin: 0px;
    float: right;
    padding-top: 6px;
    color: red;
}

form p button[type="submit"]{
    width: 200px;
}

.control-label[name="tuto_bookbundle_booktype[price]"]{
    margin-bottom: 0px;
    margin-left: -4px;
    width: 184px;
}

footer {
    margin: 15px 0;
    text-align: center;
}