{% extends 'TutoBookBundle::layout.html.twig' %}

{% block title %}Book creation{% endblock %}

{% block content %}

<form action="{{ path('book_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('book') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}